/** styles/modules/base.css */
html{
	overflow: hidden;
}
body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: rgb(247,251,252);
	background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 29%,rgba(221,223,227,1) 70%,rgba(245,246,246,1) 100%);
	color: #a35252;
	font-size: 1.4rem; 				
}
body div.agent-string{
	width: 20rem;
	height: fit-content;
	top: 50%;
	left: calc(50% - 10rem);
	padding: 0.5em;
	z-index: 5;
	background: #f8f6e8;
	border:1px solid #666666;
}
body .wrap.container{
	width: inherit;
	height: inherit;
	flex-flow: column nowrap;
}
/* DETAILS/SUMMARY BASE STYLES */
details summary{
	width: fit-content;
	padding: 0.2rem;
	font-size: 1.2em;
	cursor: pointer;
}
details .details-content{
	padding: 0.3em;
	height: fit-content;
	width: fit-content;
	
}