/** styles/modules/templates.css */
.content-block{
	top: .5rem;
	right: .4rem;
	left: .4rem;
	width: calc(100% - 0.8rem);
	flex-flow: column;
	gap: 0.5em;
	flex-wrap: nowrap;
}
.content-block header{
	width: 100%;
	padding: 0.5em 0;
	text-align: center;
	font-size: 1.8rem;
	font-weight:600;
	color: #8d5f18;
}
.content-block article{
	width: 100%;
	padding: 0.5em;
}
.content-block article.disclaimer{
	width: calc(100% - 0.4rem);
	right: 0.2rem;	
	left: 0.2rem;
	margin-top: 0.2rem;
	margin-bottom: 1.0rem;
	font-size: 1.0rem;
	padding: 0.5em;
	background: #deeff3;
	border: 0.1rem dashed #a9a9ab;
}
.content-block header{
	color: rgb(30,70,81);
}
.content-block article h3{
	color: rgb(30,70,81);
}
.content-block article.notifications header{
	padding: 0.25rem 0 0.1rem;
}
.content-block article.notifications header h2{
	font-size: 1.4rem;
}
.content-block article.notifications h3{
	padding-top: 0.4rem;
	font-size: 1.2rem;
	font-weight:600;
}
.content-block a{
	cursor: pointer;
	color: #58646b;
	font-size: 1.4rem;
	text-decoration-color: #a9a9ab;
}
.content-block a:hover{
	color:#9a9a9b;
	text-decoration-color: #58646b;
}
.content-block hr{
	border: none;
	border-top: 3px double #9a9a9c;
	width: calc(100% - 1.2rem); 
	margin-left: 0.6rem;
}
.content-block strong{
	font-weight:600;
}
.content-block small{
	color: rgb(54 125 23);
}
/** LANDING PAGE */
main .block.page{
	height: 100%;
}
main .block.page .template-null{
	padding: 0.5rem;
	height: inherit;
	gap: 0.25rem;
}
.block-left{
	align-items: center;
}
.block-left .my-person-container{
	width: 10.25rem;
	height: 10.6875rem;
	padding: 5px;
	background: radial-gradient(ellipse at center, rgba(240,183,161,1) 0%,rgba(117,34,1,1) 99%,rgba(191,110,78,1) 100%);
}
.block-right{
	padding: 0.5rem;
	width: 100%;
	flex-grow: 1;
	overflow-x:hidden;
	overflow-y: auto;
	scrollbar-color: rgb(77,87,40) rgb(150,170,79);
	scrollbar-width: thin;
}
.content-block .home-page{
	padding: 1.5rem;
}
.content-block.th .home-page{
	font-family:'Microsoft Tai Le';
}